@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --main-color: #024281;
    --black: #444;
    --light-color: #777;
    --bg: #e9f3fc;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s ease-out;
}

*::selection{
    background: var(--main-color);
    color:#eee;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
    width: 1.3rem;
}

html::-webkit-scrollbar-track{
    background: var(--light-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
}

.heading span{
    color:var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding: 0 1.5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    background: var(--black);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bold;
}

header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

header .navbar a:hover{
    color: var(--main-color);
}

header .navbar .active{
    font-weight: bold;
    background-color: var(--bg);
    padding: 1rem;
    border-radius: .5rem;
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}

.sakums{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10rem;
    background: var(--bg);
    position: relative;
}

.sakums .content{
    flex: 1 1 45rem;
}

.sakums .image{
    flex: 1 0 45rem;
}

.sakums .image img{
    width: 100%;
}

.sakums .content h3{
    font-size: 3rem;
    color: var(--light-color);
    line-height: 1.8;
}

.sakums .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.sakums .cloud{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 12rem;
    background-size: 250rem 18rem;
    background: url(images/cloud.png) repeat-x;
    animation: cloud 10s linear infinite;
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.sakums .cloud2{
    opacity: .5;
    height: 15rem;
    animation-direction: reverse;
    animation-duration: 15s;
}

.specialitates .box-container{
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.specialitates .box-container .box{
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 4rem 2rem;
}

.specialitates .box-container .box img{
    width: 100%;
    height: 30rem;
}

.specialitates .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

.specialitates .box-container .box p{
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.informacija .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.informacija .row .image{
    flex: 1 1 45rem;
    padding: 2rem;
}

.informacija .row .image img{
    width: 100%;
}

.informacija .row .content{
    flex: 1 1 45rem;
}

.informacija .row .content .title{
    font-size: 3rem;
    color: var(--black);
}

.informacija .row .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.informacija .row .content .icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.informacija .row .content .icon-container .icons{
    flex: 1 1 15rem;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.5rem;
    text-align: center;
}

.informacija .row .content .icon-container .icons i{
    border-radius: 50%;
    background: var(--bg);
    color: var(--main-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.informacija .row .content .icon-container .icons h3{
    color: var(--light-color);
    font-size: 1.6rem;
    padding-top: 1rem;
}

.iepazisti .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.iepazisti .box-container .box{
    height: 30rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shadow);
}

.iepazisti .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.iepazisti .box-container .box .content{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.iepazisti .box-container .box:hover .content{
    top: 0;
    opacity: 1;
}

.iepazisti .box-container .box .content h3{
    font-size: 2.5rem;
    padding-bottom: .5rem;
    color: var(--black);
}

.iepazisti .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-color);
}

.iepazisti .box-container .box::before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255, 0.8);
    clip-path: circle(0% at 99% 0);
    transition: .3s linear;
}

.iepazisti .box-container .box:hover::before{
    clip-path: circle(100%);
}

.kontakti .icon-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.kontakti .icon-container .icons{
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.kontakti .icon-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--main-color);
    background: var(--bg);
    border-radius: 50%;
}

.kontakti .icon-container .icons h3{
    color: var(--black);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.kontakti .icon-container .icons p{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.5rem;
}

.kontakti .row{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.kontakti .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.kontakti .row form .box{
    margin: .7rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    border: var(--border);
    background: #f7f7f7;
    width: 100%;
}

.kontakti .row form .box:focus{
    background: var(--bg);
}

.kontakti .row form textarea{
    height: 17rem;
    resize: none;
}

.kontakti .row .map{
    flex: 1 1 45rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.pieteiksanas{
    padding: 2rem 15%;
}

.pieteiksanas .row{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.pieteiksanas .row form{
    flex:1 1 45rem;
    padding:2rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.pieteiksanas .row form .box1{
    margin:.7rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    background: #f7f7f7;
    text-transform: none;
    width: 49.8%;
}

.pieteiksanas .row form .box1:focus{
    background:var(--bg);
}

.pieteiksanas .row form .box2{
    margin:.7rem 0;
    padding: 1rem;
    font-size: 1.6rem;
    color:var(--black);
    border-radius: .5rem;
    border:var(--border);
    background: #f7f7f7;
    text-transform: none;
    width: 100%;
}

.pieteiksanas .row form .box2:focus{
    background:var(--bg);
}

.pieteiksanas .row form textarea{
    height: 20rem;
    resize: none;
}

.pieteiksanas .row form .btn{
    width: 100%;
}

.pieteiksanas .row form .btn:hover{
    background: var(--black);
}

.footer{
    background: var(--bg);
    color:var(--black);
    text-align: center;
    padding: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.pazinojums{
    position: fixed;
    bottom:0;
    right:0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    color: #fff;
    padding: 3rem 9%;
    font-size: 2rem;
    display: block;
}

.pazinojums p{
    animation: blinker 2s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}

.pieteiksanasKluda{
    font-size: 2rem;
    text-align: center;
    margin: 5rem;
    padding: 3rem;
    color: #eee;
    border-radius: .5rem;
    border: var(--border);
}

.pieteiksanasKluda a{
    color: #ccc;
    text-decoration: underline;
}

.pieteiksanasKluda a:hover{
    font-weight: bold;
    color: var(--bg);
}

.pieteiksanasKluda.sarkans{
    background: #a14141;
}

.pieteiksanasKluda.zals{
    background: #57a141;
}

.admin{
    margin-top: 7rem;
}

.admin .kopsavilkums{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.admin .kopsavilkums .informacija{
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.admin .kopsavilkums .informacija span{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    line-height: 6rem;
    padding: 2rem;
    font-size: 3rem;
    color: var(--main-color);
    background: var(--bg);
    border-radius: 50%;
}

.admin .kopsavilkums .informacija h3{
    color: var(--black);
    padding: 1rem 0;
    font-size: 2rem;
}

.admin .kopsavilkums .informacija p{
    color: var(--light-color);
    line-height: 1.8;
    font-size: 1.5rem;
}

.admin .row{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.admin .row .info{
    flex: 1 1 40rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.admin .row .info2{
    flex: 1 1 20rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.head-info{
    background-color: #f8f8f8;
    color: var(--black);
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.head-color{
    background-color: var(--bg);
}

table{
    font-size: 1.5rem;
    width: 100%;
}

th, td{
    text-align: center;
    height: 4rem;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: var(--bg);
}

th{
    font-weight: bold;
    color: var(--black);
}





@media (max-width:1080px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .pieteiksanas .row form .box1{
        width: 100%;
    }
}

@media (max-width:940px){
    #menu-btn{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 10rem;
        right: 2rem;
        background: var(--bg);
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: .5rem;
        width: 30rem;
        opacity: 0;
        transform: scale(0);
        transform-origin: top right;

    }
    header .navbar.active{
        opacity: 1;
        transform: scale(1);
    }

    header .navbar a{
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    header .navbar a:hover{
        background: #eee;
    }

    .sakums .content{
        text-align: center;
    }
}

@media (max-width:480px){
    html{
        font-size: 50%;
    }
}